* {
  box-sizing: border-box;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}
/*ELEMENTS FOR TEST*/
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}