* {
  box-sizing: border-box;
  font-size: 2vw;
  margin: 0;
  padding: 0; }

/*ELEMENTS FOR TEST*/
.red {
  background-color: red; }

.blue {
  background-color: blue; }

.orange {
  background-color: orange; }

/*CONTAINERS_COLUMNS*/
.container {
  display: block;
  margin: auto; }

.container-fluid {
  width: 100%; }

.row {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

@media screen and (min-width: 576px) {
  .container {
    width: 540px; }

  .col--sm-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--sm-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (min-width: 768px) {
  .container {
    width: 720px; }

  .col--md-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--md-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (min-width: 992px) {
  .container {
    width: 960px; }

  .col--lg-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--lg-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px; }

  .col--xl-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col--xl-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (min-width: 0) {
  .col-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px; }

  .col-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
/*COLORS*/
/*BUTTONS*/
.btn {
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0); }

.btn:focus {
  outline-style: none; }

.btn-link {
  color: #1384ff; }

.btn-link:hover {
  text-decoration: underline; }

.btn-primary {
  color: #fff;
  background-color: #007bff;
  transition: 0.2s; }

.btn-primary:hover {
  background-color: #0062cc; }

.btn-primary:focus {
  box-shadow: 0px 0px 0px 4px rgba(0, 123, 255, 0.7); }

.btn-primary.active {
  box-shadow: inset 0px 0px 15px 1px rgba(0, 74, 153, 0.7);
  font-weight: bold; }

.btn-primary.disabled {
  background-color: rgba(153, 202, 255, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  transition: 0.2s; }

.btn-secondary:hover {
  background-color: #545b62; }

.btn-secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(108, 117, 125, 0.7); }

.btn-secondary.active {
  box-shadow: inset 0px 0px 15px 1px rgba(61, 66, 70, 0.7);
  font-weight: bold; }

.btn-secondary.disabled {
  background-color: rgba(188, 193, 198, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-success {
  color: #fff;
  background-color: #28a745;
  transition: 0.2s; }

.btn-success:hover {
  background-color: #1e7e34; }

.btn-success:focus {
  box-shadow: 0px 0px 0px 4px rgba(40, 167, 69, 0.7); }

.btn-success.active {
  box-shadow: inset 0px 0px 15px 1px rgba(20, 85, 35, 0.7);
  font-weight: bold; }

.btn-success.disabled {
  background-color: rgba(134, 226, 155, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  transition: 0.2s; }

.btn-danger:hover {
  background-color: #bd2130; }

.btn-danger:focus {
  box-shadow: 0px 0px 0px 4px rgba(220, 53, 69, 0.7); }

.btn-danger.active {
  box-shadow: inset 0px 0px 15px 1px rgba(146, 25, 37, 0.7);
  font-weight: bold; }

.btn-danger.disabled {
  background-color: rgba(243, 183, 189, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-warning {
  color: black;
  background-color: #ffc107;
  transition: 0.2s; }

.btn-warning:hover {
  background-color: #d39e00; }

.btn-warning:focus {
  box-shadow: 0px 0px 0px 4px rgba(255, 193, 7, 0.7); }

.btn-warning.active {
  box-shadow: inset 0px 0px 15px 1px rgba(160, 120, 0, 0.7);
  font-weight: bold; }

.btn-warning.disabled {
  background-color: rgba(255, 231, 160, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  transition: 0.2s; }

.btn-info:hover {
  background-color: #117a8b; }

.btn-info:focus {
  box-shadow: 0px 0px 0px 4px rgba(23, 162, 184, 0.7); }

.btn-info.active {
  box-shadow: inset 0px 0px 15px 1px rgba(12, 82, 93, 0.7);
  font-weight: bold; }

.btn-info.disabled {
  background-color: rgba(122, 222, 238, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-light {
  color: black;
  background-color: #f8f9fa;
  transition: 0.2s; }

.btn-light:hover {
  background-color: #dae0e5; }

.btn-light:focus {
  box-shadow: 0px 0px 0px 4px rgba(248, 249, 250, 0.7); }

.btn-light.active {
  box-shadow: inset 0px 0px 15px 1px rgba(189, 198, 208, 0.7);
  font-weight: bold; }

.btn-light.disabled {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  font-weight: lighter; }

.btn-dark {
  color: #fff;
  background-color: #343a40;
  transition: 0.2s; }

.btn-dark:hover {
  background-color: #1d2124; }

.btn-dark:focus {
  box-shadow: 0px 0px 0px 4px rgba(52, 58, 64, 0.7); }

.btn-dark.active {
  box-shadow: inset 0px 0px 15px 1px rgba(6, 7, 8, 0.7);
  font-weight: bold; }

.btn-dark.disabled {
  background-color: rgba(122, 135, 147, 0.7);
  box-shadow: none;
  font-weight: lighter; }

/*IMAGES*/
.img-responsive, .img-thumbnail, .img-rounded, .img-circle {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.img-rounded {
  border-radius: 4px; }

.img-circle {
  border-radius: 50%; }

/*# sourceMappingURL=output.css.map */
